@tailwind base;
@tailwind components;
@tailwind utilities;


body {
background: linear-gradient(220.55deg, #AFCCCB 0%, #616566 100%);
}


.dark body {
background: linear-gradient(220.55deg, #565656 0%, #181818 100%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
